* {
	margin: 0;
	padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
	background-color: #ffffff;
	font-family: "Roboto", sans-serif;
	color: #595758;
	font-weight: normal;
	font-style: inherit;
	font-size: 16px;
	line-height: 1.5;
	max-width: 1920px;
	margin: 0 auto;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

p {
	margin: 0;
	padding: 0;
}

.box {
	margin-bottom: 35px;
	position: relative;
}

.box-main {
	padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
}

.box-head .box-content {
	width: 255px;
	height: auto;
	float: right;
	text-align: center;
}
.box-head .box-av-name .avarta {
	width: 120px;
	height: 120px;
	object-fit: contain;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);
	border-radius: 50%;
	overflow: hidden;
	text-align: center;
	margin: 0 auto;
	margin-bottom: 10px;
}
.box-head .box-av-name .avarta img {
	max-width: 120px;
	max-height: 120px;
}
.box-head .box-av-name .name {
	font-family: 'Roboto';
	font-size: 18px;
	line-height: 1.5;
	color: #575757;
}
.box-head .line-verticle {
	display: block;
	width: 1px;
	height: 172px;
	background-color: #ccced9;
	margin: 0 auto;
}
.box-head .box-list-personel {
	margin-top: -5px;
}
.box-head .box-list-personel p {
	font-family: 'Roboto';
	font-size: 15px;
	color: #575757;
	line-height: 1.47;
	margin-bottom: 10px;
}
.box-head .box-list-personel p:last-child {
	margin-bottom: 0;
}
.box-head .box-list-personel label {
	margin-bottom: 0;
}

.box-content .table-name {
	font-family: 'Roboto';
	font-size: 20px;
	line-height: 1.5;
	margin-bottom: 10px;
	color: #575757;
}

/* table-customize */
.table-customize > thead > tr > th,
.table-customize > tbody > tr > th {  
	background-color: #d5e5d6;
	color: #333;
	white-space: nowrap;
}
.table-customize > thead > tr > td,
.table-customize > tbody > tr > td { 
	border-top: 1px solid #ccced9;
	border-bottom: 1px solid #ccced9;
	width: auto;
}

.table-customize > thead > tr > th:first-child,
.table-customize > tbody > tr > td:first-child { 
	border-left: 1px solid #d5e5d6;
}
.table-customize > thead > tr > th:last-child,
.table-customize > tbody > tr > td:last-child { 
	border-right: 1px solid #d5e5d6;
}
.table.table-customize>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 1px solid #d5e5d6;
    background-color: #000b40;
    ont-family: 'Roboto';
	font-size: 14px;
	line-height: 1.5;
	color: #ffffff;
	font-weight: normal;
}
.table.table-style1>thead>tr>th {
	background: #d5e5d6;
	color: #595757;
	font-weight: 500;
}
.table-customize tr td {
	font-family: 'Roboto';
	font-size: 14px;
	line-height: 1.5;
	color: #595757;
	font-weight: normal;
}

.fa-star {
  width: 18px;
  height: 19px;
  font-family: FontAwesome;
  font-size: 19px;
  text-align: left;
  color: #2e7d32;
}

input[type='checkbox'] {
	opacity: 0;
}
input[type='checkbox'] + span{
	background: url(../img/check.png) no-repeat center left;
	padding-left: 18px;
	margin-left: -18px;
}
input[type='checkbox']:checked + span{
	background: url(../img/checked.png) no-repeat center left;
}

.table-button .btn-danger {
	width: 255px;
	height: 34px;
	background-color: #ffffff;
  	border: solid 1px #e91e63;
	border-radius: 0;
	font-family: 'Roboto';
	font-size: 15px;
	font-weight: 500;
	text-align: center;
	color: #e91e63;
	margin-left: 30px;
	outline: none;
}
.table-button .btn-danger:focus {
	outline: none;
}
.table-button .btn-danger:first-child {
	margin-left: 0;
}
.btn {
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.btn-1e:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.btn-1e:hover:after {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
.btn-1e:after {
  background: #e91e63;
  color: #fff;
}
.btn-1e:hover {
  color: #fff;
}

#ReportAsBroken .modal-dialog {
	width: 350px;
}
#ReportAsBroken .modal-content {
	border-radius: 0;
}
#ReportAsBroken .modal-dialog .modal-header {
	padding: 0;
	border: none;
	background-color: #000b40;
}
#ReportAsBroken .modal-dialog .modal-title {
	text-align: center;
	font-family: 'Roboto';
	font-weight: normal;
	font-size: 20px;
	line-height: 37px;
	color: #ffffff;
}
#ReportAsBroken .modal-body {
	padding: 0;
	padding: 30px 30px 30px;
}
#ReportAsBroken .modal-footer {
	padding: 0;
	padding: 0 30px 30px;
	border-top: none;
}
#ReportAsBroken .modal-footer .btn {
	width: 105px;
	border-radius: 0;
	border: none;
	font-family: 'Roboto';
	font-size: 15px;
	font-weight: 500;
	line-height: 1.6;
	text-align: center;
	color: #ffffff;
}
#ReportAsBroken .modal-footer .btn:focus {
	outline-: none !important;
}
#ReportAsBroken .modal-footer .btn-yes {
	background-color: #e91e63;
}
#ReportAsBroken .modal-footer .btn-cancel {
	background-color: rgba(87, 87, 87, 0.5);
}
#ReportAsBroken .modal-header .close {
	margin-top: 0;
    font-size: 35px;
    text-align: left;
    color: #ffffff;
    opacity: 1;
    margin-right: 5px;
}