* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  color: #595758;
  font-weight: normal;
  font-style: inherit;
  font-size: 16px;
  line-height: 1.5;
  max-width: 1920px;
  margin: 0 auto;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* Common */
.img {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.wrapper {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}
.inner {
  width: 1140px;
  margin: 0 auto;
}
.inner-row {
  margin-right: -15px;
  margin-left: -15px;
}
.inner-row:after,
.block_about:after,
.form-group:after {
  clear: both;
  display: table;
  content: " ";
}
.requiment {
  font-size: 16px;
  color: #e5002f;
  margin-left: 3px;
}
/* Alert Required */
.alert-required {
  position: absolute;
  top: 2px;
  right: -185px;
  display: none;
}
.alert-required img {
  margin-right: 15px;
}
.alert-required img,
.alert-required .required-text {
  display: inline-block;
  vertical-align: middle;
}
.alert-required .required-text {
  width: 129px;
  height: 28px;
  text-align: center;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 28px;
  color: #e5002f;
  position: relative;
  -webkit-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
  -moz-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
  -ms-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
  -o-filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.5));
}
.alert-required .required-text:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -10px;
  margin: -7px 0 0;
  border-right: 10px solid #fff;
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
}
.alert-required.active {
  display: block;
}
/* Button */
.group-btn {
  text-align: center;
}
.group-btn .ev-btn {
  color: #fff;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  cursor: pointer;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
  background-color: #595758;
  box-shadow: 0 10px 10px 0 #acabab;
}
.group-btn .ev-btn-save,
.group-btn .ev-btn-cancel {
  width: 165px;
  margin-right: 30px;
}
.group-btn .ev-btn-cancel {
  margin-right: 0;
}
.group-btn .ev-btn-save:hover,
.group-btn .ev-btn-cancel:hover {
  border: 1px solid #e5002f;
  background-color: #e5002f;
  color: #fff;
}
/* Header */
.header {
  padding-bottom: 64px;
}
.header .logo img {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  margin: 0 auto;
}
.header-color {
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
.header-color li {
  display: inline-block;
  vertical-align: top;
}
.header-color li div {
  min-height: 6px;
  width: 127px;
  border-right: 1px solid transparent;
  display: inline-block;
  vertical-align: top;
  margin: 0 -3px;
}
.bg-1 {
  background-color: #e41881;
}
.bg-2 {
  background-color: #6ec2ee;
}
.bg-3 {
  background-color: #46ab35;
}
.bg-4 {
  background-color: #e98e36;
}
.bg-5 {
  background-color: #f3c50d;
}
.bg-6 {
  background-color: #e5002f;
}
.bg-7 {
  background-color: #595758;
}
/* Block About */
.block_about {
  padding-bottom: 132px;
}
.block_about h1 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 16px;
  color: #595758;
  font-weight: normal;
}
.block_about .item {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  float: left;
  width: 50%;
}
.block_about .item > img {
  display: block;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  width: 100%;
}
.block_about .item span.art {
  position: absolute;
  top: 26px;
  left: -169px;
  z-index: -1;
}
.block_about .item span.art img {
  width: 384px;
  height: 386px;
  object-fit: contain;
}
.block_about .item .info {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
  font-weight: normal;
  color: #595758;
  margin-bottom: 30px;
}
.block_about .item .info:last-child {
  margin-bottom: 0;
}
/* Block Form */
.block_form .block-title .title {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 1;
  text-align: left;
  color: #595758;
  padding-bottom: 8px;
  border-bottom: 1px solid #cbcbcb;
  position: relative;
  margin-bottom: 16px;
}
.block_form .block-title .tit-img {
  width: 32px;
  height: 32px;
  position: absolute;
  top: -8px;
  right: 0;
}
.block_form .block-content {
  padding: 32px 0;
  /* Form  Group */
}
.block_form .block-content .form-group {
  margin-bottom: 16px;
  /* Sub Title */
  /* Group Input */
}
.block_form .block-content .form-group:last-child {
  margin-bottom: 0;
}
.block_form .block-content .form-group .title_sub {
  width: 361px;
  height: 34px;
  float: left;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.13;
  text-align: right;
  color: #595758;
}
.block_form .block-content .form-group label {
  width: 361px;
  height: 34px;
  float: left;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.13;
  text-align: right;
  color: #595758;
  cursor: pointer;
}
.block_form .block-content .form-group .group-input {
  width: 653px;
  float: left;
  margin-left: 30px;
  position: relative;
}
.block_form .block-content .form-group .group-input input {
  border: solid 1px #cbcbcb;
  width: 100%;
  padding: 5px 10px;
  font-size: 16px;
  line-height: 1.5;
  color: #595758;
}
.block_form .block-content .form-group .group-input input:focus {
  outline: none;
  border: 1px solid #e5002f;
}
.block_form .block-content .form-group .group-input input::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: #acabab;
}
.block_form .block-content .form-group .group-input input::-moz-placeholder {
  /* Firefox 19+ */
  color: #acabab;
}
.block_form .block-content .form-group .group-input input:-ms-input-placeholder {
  /* IE 10+ */
  color: #acabab;
}
.block_form .block-content .form-group .group-input input:-moz-placeholder {
  /* Firefox 18- */
  color: #acabab;
}
/* Footer */
footer {
  background: #444444;
  padding: 32px 0;
}
footer .ft-top {
  padding-bottom: 32px;
  margin-bottom: 16px;
  border-bottom: 1px solid #acabab;
  clear: both;
  float: left;
  width: 100%;
}
footer .ft-top .ev-address {
  float: left;
  width: calc(33.33333333%);
  padding-right: 15px;
  padding-left: 15px;
}
footer .ft-top .ev-address address .name-office {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: #ffffff;
}
footer .ft-top .ev-address address .info-office {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.5;
  color: #cbcbcb;
}
footer .ft-top .ev-address address .info-office span {
  display: block;
}
footer .ft-bottom .widget {
  text-align: center;
}
footer .ft-bottom .widget li {
  list-style-type: none;
  display: inline-block;
}
footer .ft-bottom .link li {
  color: #acabab;
  font-size: 14px;
}
footer .ft-bottom .link li:nth-child(2n) {
  padding: 0 14px;
}
footer .ft-bottom .link li a {
  color: #fff;
  text-decoration: none;
}
footer .ft-bottom .widget-social {
  margin-top: 8px;
}
footer .ft-bottom .widget-social a {
  width: 21px;
  height: 21px;
  text-align: center;
  display: block;
  border-radius: 50%;
  background: #fff;
}
footer .ft-bottom .widget-social a.social-facebook {
  background: #305E94;
}
footer .ft-bottom .widget-social a.social-linkedin {
  background: #007ab0;
}
footer .ft-bottom .widget-social a.social-youtube {
  background: #F0242D;
}
footer .ft-bottom .widget-social a.social-instagram {
  background: #317498;
}
footer .ft-bottom .widget-social a i {
  font-size: 10px;
  line-height: 21px;
}
footer .ft-bottom .copy-right {
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #acabab;
}
