* {
	margin: 0;
	padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
	background-color: #ffffff;
	font-family: "Roboto", sans-serif;
	color: #595758;
	font-weight: normal;
	font-style: inherit;
	font-size: 16px;
	line-height: 1.5;
	max-width: 1920px;
	margin: 0 auto;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

/* Common */
.img {
	display: block;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}
.wrapper {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
}
.inner {
	width: 1140px;
	margin: 0 auto;
}
.inner-row {
    margin-right: -15px;
    margin-left: -15px;
}
.inner-row:after,
.block_about:after,
.form-group:after {
	clear: both;
	display: table;
    content: " ";
}
.requiment {
	font-size: 16px;
	color: #e5002f;
	margin-left: 3px;
}
/* Alert Required */
.alert-required {
	position: absolute;
	top: 2px;
	right: -185px;
	img {
		margin-right: 15px;
	}
	img,
	.required-text {
		display: inline-block;
		vertical-align: middle;
	}
	.required-text {
		width: 129px;
  		height: 28px;
  		text-align: center;
		background-color: #ffffff;
  		font-family: "Roboto", sans-serif;
		font-size: 12px;
		line-height: 28px;
		color: #e5002f;
		position: relative;
		-webkit-filter: drop-shadow(0 2px 4px rgba(0,0,0,.5));
		-moz-filter: drop-shadow(0 2px 4px rgba(0,0,0,.5));
		-ms-filter: drop-shadow(0 2px 4px rgba(0,0,0,.5));
		-o-filter: drop-shadow(0 2px 4px rgba(0,0,0,.5));
		filter: drop-shadow(0 2px 4px rgba(0,0,0,.5));
	}
	.required-text:before {
		content: "";
		position: absolute;
		top: 50%;
		left: -10px;
		margin: -7px 0 0;
		border-right: 10px solid #fff;
		border-top: 7px solid transparent;
		border-bottom: 7px solid transparent;
	}
}

/* Button */
.group-btn {
	text-align: center;
	.ev-btn {
		color: #fff;
		font-family: "Roboto", sans-serif;
		display: inline-block;
		cursor: pointer;
	    font-weight: normal;
	    text-align: center;
	    white-space: nowrap;
	    vertical-align: middle;
	    -webkit-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    border: 1px solid transparent;
	    padding: 0.5rem 0.75rem;
	    font-size: 1rem;
	    line-height: 1.25;
	    border-radius: 0.25rem;
	    transition: all 0.15s ease-in-out;
		background-color: #595758;
		box-shadow: 0 10px 10px 0 #acabab;
	}
	.ev-btn-save,
	.ev-btn-cancel {
		width: 165px;
		margin-right: 30px;
	}
	.ev-btn-cancel {margin-right: 0}
	.ev-btn-save:hover,
	.ev-btn-cancel:hover  {
		border: 1px solid #e5002f;
		background-color: #e5002f;
		color: #fff;
	}
}

/* Header */
.header {
	padding-bottom: 64px;
	.logo img {
		.img;
		margin: 0 auto;
	}
}
.header-color {
    white-space: nowrap;
	margin: 0;
	overflow: hidden;
	margin: 0;
	padding: 0;
	list-style: none;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	li {
	    display: inline-block;
	    vertical-align: top;
	}
	li div {
	    min-height: 6px;
	    width: 127px;
	    border-right: 1px solid transparent;
	    display: inline-block;
	    vertical-align: top;
	    margin: 0 -3px;
	}
}
.bg-1 {
	background-color: #e41881;
}
.bg-2 {
	background-color: #6ec2ee;
}
.bg-3 {
	background-color: #46ab35;
}
.bg-4 {
	background-color: #e98e36;
}
.bg-5 {
	background-color: #f3c50d;
}
.bg-6 {
	background-color: #e5002f;
}
.bg-7 {
	background-color: #595758;
}

/* Block About */
.block_about {
	padding-bottom: 132px;
	h1 {
		font-family: "Roboto", sans-serif;
		font-size: 24px;
		line-height: 1;
		margin-bottom: 16px;
		color: #595758;
		font-weight: normal;
	}
	.item {
		position: relative;
	    min-height: 1px;
	    padding-right: 15px;
	    padding-left: 15px;
	    float: left;
		width: 50%;
		 > img {
			.img;
			width: 100%;
		}
		span.art {
			position: absolute;
			top: 26px;
			left: -169px;
			z-index: -1;
		}
		span.art img {
			width: 384px;
			height: 386px;
			object-fit: contain;
		}
		.info {
			font-family: "Roboto", sans-serif;
			font-size: 16px;
			line-height: 1.5;
			text-align: left;
			font-weight: normal;
			color: #595758;
			margin-bottom: 30px;
		}
		.info:last-child {
			margin-bottom: 0;
		}
	}
}

/* Block Form */
.block_form .block-title {
	.title {
		font-family: "Roboto", sans-serif;
		font-size: 24px;
		font-weight: 300;
		line-height: 1;
		text-align: left;
		color: #595758;
		padding-bottom: 8px;
		border-bottom: 1px solid #cbcbcb;
		position: relative;
		margin-bottom: 16px;
	}
	.tit-img {
		width: 32px;
		height: 32px;
	    position: absolute;
	    top: -8px;
	    right: 0;
	}
}
.block_form .block-content {
	padding: 32px 0;
	/* Form  Group */
	.form-group {
	    margin-bottom: 16px;
	    &:last-child {
			margin-bottom: 0;
		}
		/* Sub Title */
		.title_sub {
			width: 361px;
			height: 34px;
			float: left;
			font-family: "Roboto", sans-serif;
			font-size: 16px;
			font-weight: 500;
			line-height: 2.13;
			text-align: right;
			color: #595758;
		}
		label {
			width: 361px;
			height: 34px;
			float: left;
			font-family: "Roboto", sans-serif;
			font-size: 16px;
			font-weight: 500;
			line-height: 2.13;
			text-align: right;
			color: #595758;
			cursor: pointer;
		}
		/* Group Input */
		.group-input {
			width: 653px;
			float: left;
			margin-left: 30px;
			position: relative;
			input {
				border: solid 1px #cbcbcb;
				width: 100%;
				padding: 5px 10px;
				font-size: 16px;
				line-height: 1.5;
				color: #595758;
				&:focus {
					outline: none;
					border: 1px solid #e5002f;
				}
				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					color: #acabab;
				}
				&::-moz-placeholder { /* Firefox 19+ */
					color: #acabab;
				}
				&:-ms-input-placeholder { /* IE 10+ */
					color: #acabab;
				}
				&:-moz-placeholder { /* Firefox 18- */
					color: #acabab;
				}
			}
		}
	}
}

/* Footer */
footer {
	background: #444444;
	padding: 32px 0;
	.ft-top {
		padding-bottom: 32px;
		margin-bottom: 16px;
		border-bottom: 1px solid #acabab;
		clear: both;
		float: left;
		width: 100%;
		.ev-address {
			float: left;
			width: calc(100% / 3);
			padding-right: 15px;
			padding-left: 15px;
		}
		.ev-address address .name-office {
			font-family: "Roboto", sans-serif;
			font-style: normal;
			font-size: 14px;
			font-weight: 500;
			line-height: 1.5;
			color: #ffffff;
		}
		.ev-address address .info-office {
			font-family: "Roboto", sans-serif;
			font-style: normal;
			font-size: 14px;
			line-height: 1.5;
			color: #cbcbcb;
		}
		.ev-address address .info-office span {
			display: block;
		}
	}
	.ft-bottom {
		.widget {
			text-align: center;
		}
		.widget li {
			list-style-type: none;
			display: inline-block;
		}
		.link li {
			color: #acabab;
			font-size: 14px;
		}
		.link li:nth-child(2n) {
			padding: 0 14px;
		}
		.link li a {
			color: #fff;
			text-decoration: none;
		}
		.widget-social {
			margin-top: 8px;
		}
		.widget-social a {
			width: 21px;
			height: 21px;
			text-align: center;
			display: block;
			border-radius: 50%;
			background: #fff;
		}
		.widget-social a.social-facebook {
			background: #305E94;
		}
		.widget-social a.social-linkedin {
			background: #007ab0;
		}
		.widget-social a.social-youtube {
			background: #F0242D;
		}
		.widget-social a.social-instagram {
			background: #317498;
		}
		.widget-social a i {
			font-size: 10px;
			line-height: 21px;
		}
		.copy-right {
			margin-top: 15px;
			font-family: "Roboto", sans-serif;
			font-size: 14px;
			line-height: 1.29;
			text-align: center;
			color: #acabab;
		}
	}
}